*{
    padding: 0;
    box-sizing: 0;
}
#main{
    background-color: rgb(235, 228, 228);
    border-radius: 1%;
}
#title{
    text-align: center;
}
#img-div{
    text-align: center;
    background-color: white;
}
